.swiper-container {
    width: 80vw;
    height: 71vh;
    overflow: hidden;
    margin: 2rem auto;
}


.swiper-slide {
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--color);
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius) !important;
}

.swiper-button-prev,
.swiper-button-next {

    --swiper-navigation-color: var(--color);
    padding: 2rem;
}

.swiperImage {
    border-radius: 16px;
    overflow: hidden;
    display: block;
    height: 50vh;
    margin: 1rem auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.swiper-container p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

#gameExplanation h1 {
    margin-left: 2rem;
}

#gameExplanation h2 {
    margin-left: 2.5rem;
    font-size: 1.5rem;
}
/* 
@media screen and (max-width: 500px) {
    .swiperImage {
        width: 100%;
        height: 39vh;
    }
    
} */