body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 1em;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
}

.nav-container {
    display: flex;
    align-items: center;
}

#nav-logout {
    cursor: pointer;
}

.coin-icon,
.hint-icon {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin: 0 0.5rem 0 0.3rem;
    top: 0.5rem;
}

#nav-coins,
#nav-hints {
    padding-top: 0;
}

.answers {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    width: 50vw;
    margin: 0 auto;

    position: relative;
    top: 15vh;
    padding: 1em;


}

.power-ups {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}

.power-ups img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: var(--transitions);
}

.answer {
    /* flexibel mit Basis 40%, wächst/shrink */
    max-width: min-content;
    min-width: 200px;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bolder;
}



#image img {
    max-height: 20vh;
    padding: 2rem;
}

#image {
    text-align: center;
}

#image p {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0.5em 1em;


}

#image img {
    border-radius: 5px;
    max-height: 20vh;
}

#result {
    position: relative;
    top: 5vh;
    font-size: 2.4rem;
    font-weight: bolder;
    margin: auto;
    height: 5vh;
    text-align: center;
    opacity: 0;
    transition: var(--transitions);
    z-index: 1000000;
}


.answersInput {
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

#answer {
    width: 100%;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    display: block;
    margin: 0.5em auto;

}

.answerinput {
    margin: 0 auto;
}

#answer {
    color: var(--color)
}

.answer {
    display: block;
    margin: auto;
    transition: var(--transitions);
}

input {
    width: 100%;
    margin: auto;
    border: none;
}

@media screen and (min-width: 1000px) {
    .answer:hover {
        color: var(--lighter-color);
        transform: translateY(-4px);
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
        margin-top: 9em;
    }

    .answers {
        position: relative;
        top: 4vh;
        display: grid;
        grid-template-columns: 1fr;
        margin: 1em auto;
        width: 90vw;
    }

    .answers .answer {
        position: relative;
        top: -8vh;
    }

    .answer {
        font-size: 1.5rem;
        padding: 0.5em;
        margin: 0 auto;
        width: 80vw;
        max-width: min-content;
    }

    #image img {
        max-height: 20vh;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    #image p {
        margin-top: 9em;
        font-size: 1.5rem;
    }

    .answersInput {
        width: 80vw;
        position: relative;
        top: 0;
    }

    #result {
        position: relative;
        bottom: 4vh;
        top: -4vh;
        font-size: 1.5rem;
        height: 3vh;
    }

    #hilfe {
        position: relative;
        top: 15vh;
        bottom: 0;
        margin: 0 auto;
        width: 80vw;
        font-size: 1.5rem;
    }

    .hilfe {
        position: relative;
        top: 5vh;
    }

    .correct {
        position: relative;
        top: 1vh;
        bottom: -1vh;
    }

    .power-ups {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--secondary-color);
        padding: 0.3em 0 0 0;
    } 
}