
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 1em;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
}

.nav-container {
    display: flex;
    align-items: center;
}

#nav-logout {
    cursor: pointer;
}

.coin-icon, .hint-icon {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin:  0 0.5rem 0 0.3rem;
    top: 0.5rem;
}

#nav-coins, #nav-hints {
    padding-top: 0;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    gap: 0.5rem;
    margin: 4em 10em;
}

.answer {
    margin: 0.5em auto;
    border-radius: var(--border-radius);
    padding: 0.5em;
    background-color: var(--secondary-color); 
    transition: var(--transitions); 
    cursor: pointer;
    min-width: max-content;
    font-size: 1.5rem;
    text-align: center;
}

#image {
    max-height: 20vh;
    text-align: center;
    padding: 2rem;
}

#image p {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0.5em 1em;
    
    
}

#image img {
    border-radius: 5px;
    max-height: 20vh;
}

#result {
    font-size: 2rem;
    font-weight: bolder;
    margin: auto;
    height: 5vh;
    text-align: center;
    opacity: 0;
    transition: var(--transitions);
}


.answersInput {
    display: flex;
    flex-direction: column;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;    
}

#answer {
    width: 50%;
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    margin: 0.5em 1em;
}

#answer {
    color: var(--color)
}

input {
    border: none;
}

@media screen and (min-width: 1000px) {
    .answer:hover {
        color: var(--lighter-color);
        transform: translateY(-4px);
    }
}

@media screen and (max-width: 500px) {
    body {
        overflow-x: hidden;
        margin-top: 9em;
    }

    .answers {
        grid-template-columns: 1fr;
        margin: 2em auto;
        width: 90vw;
    }

    .answer {
        font-size: 1.5rem;
        padding: 0.5em;
        margin: 0.5em auto;
    }

    #image img {
        max-height: 30vh;
    }

    #image p {
        font-size: 1.5rem;
    }

    .answersInput {
        width: 80vw;
    }
}