p {
    text-shadow: #cacaca 0.06rem 0.06rem 0.4rem;    
}

a {
    font-weight: bolder;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: none;
}

.DarkWhiteMode {
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 0.8rem;
    color: #f3e7ee;
    text-shadow: none;
}

h1, h2 , h3{
    font-family: var(--font);
    font-weight: bolder;
}

.overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 4rem;
    padding: 1rem;
}

.overview img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.body {
    margin: 2%;
}


.flaggenquizInfos {
    width: 90%;
    text-align: justify;
}

.flaggenquizInfos p {
    color: var(--lighter-color);
    margin-top: 0;
    text-shadow: none;
}

.flaggenquizInfos h3 {
    margin-bottom: 0;
}

.flaggenquiz {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 0%;
}

.flaggenquiz img {
    width: 100%;
    height: 400px;
    position: relative;
    left: 11%;
}

.laenderquiz {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
}

.laenderquiz img {
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.musikquiz {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%
}

.musikinfoItem {
    background-color: red;
    padding: 3rem;
    font-size: 1.5rem;
    border-radius: 14px;
    background-color: var(--secondary-color);
}

.bottomNav {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomNav a {
    color: var(--color);
    text-decoration: none;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--secondary-color);
    transition: var(--transitions);
    padding: 1em;
    font-size: 1.3em;
}

.bottomNav .bottomNavLinks {
    position: relative;
    right: 10%;
}

.bottomNavLinks {
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center; 
}

.bottomNav a:hover {
}

.bottomNavLinks a:last-child {
}

.bottomNavLinks a:last-child:hover {
    background-color: var(--secondary-color);
}

.Pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    column-gap: 4rem;
    padding: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background: var(--color);
    margin: 1rem 0;
}

.footer h3 {
    margin: 0;
}