#flaggenQuiz {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    overflow-x: scroll;
}

#flaggenQuiz div {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    margin: 0.5em 2em;
    padding: 0.5em;
    min-width: 30vw;
}

#flaggenQuiz p, #flaggenQuiz div {
    display: inline;
}

.headQuiz {
    font-size: 2em;
    margin: 1em 0.5em 0.4em 0.5em;

}

.unterHead {
    font-size: 1.5em;
    margin: 0 1em;
}

