#flaggenQuiz {
    height: 30vh;
    overflow-x: scroll;
    text-align: center;
}

#flaggenQuiz p, #flaggenQuiz div {
    display: inline;
}

.headQuiz {
    font-size: 2em;
    margin: 1em 0.5em;

}

.unterHead {
    font-size: 1.5em;
    margin: 1em;
}