#flaggenQuiz {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    overflow-x: scroll;
}

#flaggenQuiz::-webkit-scrollbar {
    display: none;
}

#flaggenQuiz div {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    margin: 1.3em 2em;
    padding: 0.5em;
    min-width: 27vw;
    min-height: 20vh;
}


#flaggenQuiz h3 {
    margin-bottom: 2em;
}

#flaggenQuiz div p {color: red;}

#flaggenQuiz p, #flaggenQuiz div {
    display: inline;
}

.headQuiz {
    font-size: 2em;
    margin: 1em 0.5em 0.4em 0.5em;

}

.unterHead {
    font-size: 1.5em;
    margin: 0 1em;
}

