.shopItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 4rem;
}

.shopItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;
    margin: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: var(--transitions);
}

.shopTitle {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: left;
}

.shopDescription {
    font-size: 1.2rem;
    margin: 0.5rem;
    text-align: justify;
}

#shopData {
    font-size: 1rem;
    text-align: center;
    margin: 1.4rem;
}

.itemName {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.itemPrice {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.shopicon {
    filter: var(--invert);
    width: 7%;
    transition: var(--transitions);
    margin-right: 1rem;
}

.itemDescription {
    font-size: 0.9rem;
    margin: -0.2rem 0.5rem;
    color: var(--lighter-color);
}

.buyButton {
    font-size: 1.3rem;
    transition: var(--transitions);
    border-radius: var(--border-radius);
    background-color: var(--extra-highlight);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin: 1em 0 0 0;
    cursor: pointer;
}

.buyButton p {
    margin: 0;
    padding: 0.5em 1em;
    transition: var(--transitions);
}

@media screen and (min-width: 1000px) {
    .buyButton:hover {
        transform: scale(1.05) translateY(-4px);
    }

    .buyButton:hover p {
        color: var(--lighter-color);
        font-weight: bolder;
    }
}