@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Nunito_Sans\,Poppins/Poppins/Poppins-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.DarkWhiteMode {
    cursor: pointer;
    user-select: none;
    background-color: #987157;
    border-radius: 15px;
    padding: 0.8rem;
    color: white;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #c7916c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

nav div {
    padding: 0.7rem;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.nav div{
    margin: 0 1rem;
}




.logo {
    display: flex;
    align-items: center;

}

.logo a {
    color: black;
    text-decoration: none;
    padding-left: 1.5rem;
}

body {
    background-color: #f9f7f6;
    color: #12100f;
    scrollbar-width:thin;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 4rem;
    padding: 1rem;
}

.grid img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.body {
    margin: 2%;
}

.gridText {
    color: grey;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}