@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsExtraBold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #12100f;
    scrollbar-width: thin;
    background-image: linear-gradient(140deg, rgb(231, 188, 236) 0%, rgb(241, 196, 247) 50%, rgb(230, 141, 194) 100%);
    text-shadow: #cacaca 0.06rem 0.06rem 0.4rem;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: none;}

.DarkWhiteMode {
    cursor: pointer;
    user-select: none;
    background-color: #e188bd;
    border-radius: 15px;
    padding: 0.8rem;
    color: #f3e7ee;
    text-shadow: #fdacfd 0.02rem 0.03rem 0.8rem;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    background-image: linear-gradient(140deg, rgba(128, 12, 143, 1) 0%, rgba(181, 41, 161, 1) 50%, rgba(224, 94, 171, 1) 100%);

}

nav div {
    padding: 0.7rem;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

h1 {
    font-family: PoppinsExtraBold;
}

.nav a {
    color: #12100f;
    margin: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.nav div {
    margin: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    text-shadow: #cacaca 0.02rem 0.03rem 0rem;

}

.logo a {
    color: #12100f;
    text-decoration: none;
    padding-left: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 4rem;
    padding: 1rem;
}

.grid img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.body {
    margin: 2%;
}

.gridText {
    color: grey;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.socials img{
    width: 3%;
}