@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsExtraBold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Classical';
    src: url('../fonts/classica_3/Classica-Book.ttf');
}

@font-face {
    font-family: 'ClassicalBold';
    src: url('../fonts/classica_3/Classica-Bold.ttf');
}

@font-face {
    font-family: 'NotoSans';
    src: url("../fonts/NotoSansTelugu-VariableFont_wdth,wght.ttf");
}

:root {
    --nav-gradient: linear-gradient(40deg, #f4b4d7 0%, #f28ec4 50%, #fcb4dc 100%);
    --transitions: 0.2s all ease-in-out;
    --font: 'NotoSans';

    --color: #351829;
    --lighter-color: #7e3d64;
    --background-image: linear-gradient(320deg, #fff4fa 0%, #fde0f0 50%, #fcd6e9 100%);
    --secondary-color: #fcd6e9;
    --accent-color: #d96cbf;
    --border-radius: 15px;
    --extra-highlight: #f9abd7;
    --invert: invert(0);
}

* {
    box-sizing: border-box;
}


input:focus {
    outline: none;
}

.respsonsiveImg {
    filter: var(--invert);
}



body {
    margin: 7em 0 0 0;
    padding: 0;
    font-family: var(--font);
    color: var(--color);
    background-image: var(--background-image);
    scrollbar-width: thin;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    background-image: var(--nav-gradient);
    z-index: 1000000;

}

nav div {
    padding: 0.7rem;
}

nav a {
    transition: var(--transitions);
}

.nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav a {
    margin: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    border-radius: var(--border-radius * 10);
    margin: 0 1rem;
    transition: var(--transitions);
    cursor: pointer;

}

.logo a {
    color: var(--color);
    text-decoration: none;
    padding-left: 1.5rem;
}

#logo {
    padding: 0;
}

.DarkWhiteMode {
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 0.8rem;
    color: var(--color);
    transition: var(--transitions);
}

footer {
    background-color: var(--secondary-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--color);
}

footer a {
    text-decoration: none;
    color: var(--color);
    font-weight: normal;
    transition: var(--transitions);

}

.left {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.socials img {
    padding-left: 1em;
    width: 100%;
    filter: grayscale(100%);
    transition: var(--transitions);
}

.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.ContactData {
    width: 50%;
}

.ContactSocials {
    width: 50%;
}

h1,
h2,
h3 {
    font-family: var(--font);
    font-weight: bolder;
}

a {
    font-weight: bolder;
}

hr {
    border: 0;
    height: 1px;
    background: var(--color);
    margin: 1rem 0;
}

.gridText {
    color: var(--color);
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gridHeadline {
    font-weight: 900;
}

.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 4rem;
    padding: 1rem;
}

.overview img {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.body {
    margin: 2%;
}

.flaggenquizInfos {
    width: 90%;
    text-align: justify;
}

.flaggenquizInfos p {
    color: var(--color);
    margin-top: 0;
}

.flaggenquizInfos h3 {
    margin-bottom: 0;
}

.flaggenquiz {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 0;
}

.flaggenquiz img {
    width: 100%;
    height: 400px;
    position: relative;
    left: 11%;
}

.laenderquiz {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4rem;
}

.laenderquiz img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;

}

.musikquiz {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}


.musikinfoItem {
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    border-radius: 14px;
    font-weight: 500;
    overflow: hidden;
    max-height: 4em;
    padding: 1em;
    cursor: pointer;
    transition: max-height 0.5s ease, padding 0.5s ease;
    flex: 1 1 calc(33% - 2rem);
    /* Drei Spalten */
    min-width: 250px;
}

.musikinfoItem .content {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: justify;
}

.musikinfoItem.expanded {
    max-height: 20em;
    padding: 2em;
}

.musikinfoItem.expanded .content {
    opacity: 1;
}

.musikHeadline {
    padding-top: 0.4em;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    text-align: center;
    user-select: none;
}

.content {
    padding: 1em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.musikquiz.open .content {
    opacity: 1;
}

/* .musikinfoItem {
    background-color: var(--secondary-color);
    padding: 3rem;
    font-size: 1.3rem;
    border-radius: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 5vh;
    overflow: hidden;
    padding-top: 2.3rem;
}

.musikinfoItem h3 {
    margin-top: 0;
} */


.bottomNav {
    margin: 1%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomNav a {
    color: var(--color);
    text-decoration: none;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    font-size: 1.3em;
    transition: var(--transitions);
}

.bottomNav .bottomNavLinks {
    position: relative;
    right: 10%;
}

.bottomNavLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
}

.bottomNavLinks a {
    transition: var(--transitions);
}

.bottomNavButtons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}

.contactNumber {
    transition: var(--transitions);
    cursor: default;
}

#loginWindow,
#registerWindow {
    position: fixed;
    top: 10vh;
    left: 30vw;
    right: 30vw;
    background-color: var(--secondary-color);
    z-index: 1000000;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px black;
    display: none;
    opacity: 0;
    transition: var(--transitions);
    overflow-y: scroll;
    overflow-x: hidden;
}

#loginWindow h2,
#registerWindow h2 {
    text-align: center;
    font-weight: 900;
}

#loginWindow input,
#registerWindow input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-bottom: var(--color) 2px solid;
    background-color: var(--secondary-color);
    color: var(--color);
    font-size: 1.1rem;
    font-weight: 900;
    transition: var(--transitions);
}

.itemName p,
#registerWindow p {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content
}

#loginButton,
#registerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 1em 1.2em 0.8em 1.2em;
    background-color: var(--extra-highlight);
    width: max-content;
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: var(--transitions);
}

#register,
#login {
    margin-top: 4%;
    color: var(--lighter-color);
    font-size: 1rem;
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

/* 
#noAccountInfo {
} */

#noAccountButton,
#haveAccountButton {
    font-style: italic;
    cursor: pointer;
    user-select: none;
    transition: var(--transitions);
}

#closeButton {
    font-weight: 900;
    font-size: 1.2rem;
    padding: 1em 1.2em 0.8em 1.2em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transitions);
}


.itemheader {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0 1rem 1rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infoItem {
    background-color: var(--secondary-color);
    font-size: 1.3rem;
    border-radius: var(--border-radius);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    color: var(--lighter-color);
    opacity: 0;
    transition: var(--transitions);
}

.loginGuy {
    filter: var(--invert);
}

.respsonsiveImg {
    filter: var(--invert);
}


.blurryBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999999;
    transition: var(--transitions);
}

.loginWindowContent,
.registerWindowContent {
    background-color: var(--secondary-color);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-radius: var(--border-radius);
    padding: 2rem;
}

.playerDataContent {
    position: fixed;
    top: 10vh;
    left: 5vw;
    right: 5vw;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    transition: var(--transitions);
    color: var(--color);
    padding: 2rem;
}

.playerData {
    transition: var(--transitions);
    opacity: 0;
    display: none;
}

.playerDataInfos {
    padding-left: 2rem;
}

.playerDataItem {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;
    font-weight: 900;
    font-size: 1.1rem;

}

.playerDataItem p {
    margin: 0;
}

.playerDataGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    margin-top: 3vh;
}

.playerDataInventoryHeadline,
.playerDataAchievementsHeadline,
.playerDataQuestsHeadline {
    border-bottom-right-radius: var(--border-radius);
    border-right: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    padding: 0 1rem;
}

.playerDataInventory,
.playerDataAchievements,
.playerDataQuests {
    padding: 1rem;
    overflow-y: scroll;
    height: 30vh;
}

.playerDataInventory::-webkit-scrollbar,
.playerDataAchievements::-webkit-scrollbar,
.playerDataQuests::-webkit-scrollbar {
    display: none;
}


.playerDataItem h3 {
    margin: 0;
}

.playerDataItem p {
    margin: 0;
    font-size: 1.3rem;
}

.playerDataItemTwo {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;
    font-weight: 900;
    font-size: 1.1rem;
}

.playerDataItemTwo p {
    margin: 0;
}

.closePlayerOverview {
    position: fixed;
    top: 10vh;
    right: 6.5vw;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    color: var(--color);
    transition: var(--transitions);
}

.line {
    width: 80%;
    margin: 5rem auto;
}

.slideItem .shopicon {
    width: 5%;
}

.playerDataNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.playerDataNav img {
    width: 2%;
    filter: var(--invert);
    transition: var(--transitions);
    position: fixed;
    top: 12.35vh;
    right: 9vw;
    cursor: pointer;
}

.confirmBox {
    position: fixed;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    bottom: 30vh;
    z-index: 30000;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 4rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.confirmButton,
.cancelButton {
    font-size: 1.3rem;
    transition: var(--transitions);
    border-radius: var(--border-radius);
    background-color: var(--extra-highlight);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    margin: 1em 0 0 0;
    cursor: pointer;
    padding: 0.5em 1em;
    font-weight: 600;
    color: var(--color);
}

.flexBox {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    gap: 2rem;
}

#temp {
    transition: var(--transitions);
}

.respsonsiveNavMQ {
    display: none;
    position: fixed;
    top: 2%;
    left: 4%;
    color: var(--color);
    text-decoration: none;
}


.respsonsiveImg {
    display: none;
    width: 20vw;
    height: auto;
    padding: 1em;
    margin-left: auto;
}

.responsiveNavLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10000000;
}

.responsiveNavLogo a,
.responsiveNavLinks a {
    text-decoration: none;
    color: var(--color);
    font-weight: bolder;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.responsiveNavLogo {
    position: fixed;
    top: 2vh;
    left: 2vw;
}

/* hover alle so hinzufügen, dass ich sie später bei 
   responsiv nicht mühselig weg machen muss */

@media screen and (min-width: 1000px) {
    nav a:hover {
        color: var(--lighter-color);
        transform: translateY(-2px);
    }

    .DarkWhiteMode:hover {
        color: var(--lighter-color);
        transform: translateY(-2px);
    }

    .bottomNavLinks a:hover {
        color: var(--lighter-color);
        transform: translateY(-2px);
    }

    footer a:hover,
    .contactNumber:hover {
        color: var(--lighter-color);
        font-weight: 900;
    }

    .socials img:hover {
        filter: grayscale(0%);
        transform: translateY(-2px);
    }

    .bottomNav a:hover {
        color: var(--lighter-color);
        transform: translateY(-2px);
    }

    .logo img:hover {
        transform: translateY(-2px);
        filter: brightness(0.8) var(--invert);
    }

    #loginButton:hover,
    #registerButton:hover {
        transform: translateY(-2px);
        color: var(--lighter-color);
    }

    #noAccountButton:hover,
    #haveAccountButton:hover {
        transform: translateY(-2px);
    }

    #closeButton:hover {
        transform: translateY(-2px);
        color: var(--lighter-color);
    }

    .closePlayerOverview:hover {
        transform: translateY(-2px);
        color: var(--lighter-color);
    }

    .playerDataNav img:hover {
        transform: translateY(-2px);
        filter: brightness(0.8) var(--invert);
    }

    .confirmButton:hover,
    .cancelButton:hover {
        transform: translateY(-2px);
        color: var(--lighter-color);
    }
}


@media screen and (max-width: 500px) {
    .respsonsiveNavMQ {
        display: block;
    }
    .overview {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: justify;
        margin: 0 auto;
    }

    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .body h1,
    .body h2 {
        text-align: center;
    }

    .body h2 {
        margin: 10% auto 6% auto;
    }

    .flaggenquiz {
        display: flex;
        flex-direction: column-reverse;
    }

    .flaggenquiz img {
        width: 90%;
        height: auto;
        position: relative;
        left: 0;
        margin: 0 auto;
    }


    .flaggenquiz p,
    .flaggenquiz h3 {
        margin: 0 auto;
        width: 100%;
    }

    .flaggenquiz h3 {
        margin: 10% auto 2% auto;
    }

    .DarkWhiteMode {
        background-color: rgba(0, 0, 0, 0);
    }

    .flaggenquizInfos {
        width: 90%;
        text-align: justify;
        margin: 0 auto;
    }

    .laenderquiz {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .laenderquiz img {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .laenderquiz p,
    .laenderquiz h3 {
        margin: 0 auto;
        width: 90%;
        text-align: justify;
    }

    .laenderquiz h3 {
        margin: 10% auto 2% auto;
    }

    .bottomNav {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .left,
    footer .right {
        width: 100%;
        text-align: center;
    }

    footer .right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    footer .left {
        gap: 1rem;
    }

    footer .left img {
        filter: grayscale(0%);
    }

    .socials {
        grid-template-columns: repeat(3, 1fr);
        width: 50%;
        margin: 0 auto;
    }

    .footerLogo {
        width: 100%;
    }

    .footerLogo a {
        font-weight: bolder;
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .ContactData,
    .ContactSocials {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    nav,
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav,
    .logo {
        display: none;
    }

    .respsonsiveImg {
        display: block;
    }

}